/* Mobile Styles */
:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --gradient-2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/* Weights */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

/* Colours */
.text-gray {
  color: var(--dark-grayish-red);
}
.text-red {
  color: var(--desaturated-red);
}

body {
  font-size: 16px;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
}

.header {
  margin: 1.5rem;
}

.hero {
  width: 100%;
  min-height: 300px;
  background-image: url("images/hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline {
  text-align: center;
  margin: 2.5rem 1.5rem;
}
.title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 2rem 0 1rem 0
}

.subtitle {
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

main {
  margin-bottom: 2rem;
}

form {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  height: 50px;
  padding: 2px;
  margin: 0 1.5rem;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background-color: var(--soft-red);
  opacity: .8;
}

.form-inner {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="email"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  flex: 1;
  border: none;
}

input[type="email"]:focus,
input[type="email"]:active {
  border: none;
  outline: none;
  background-color: transparent;
}

.button {
  width: 70px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  outline: none;
  border: none;
  transition: background-color 0.5s ease-out;
  background-color: var(--soft-red);
  transition: box-shadow 0.2s ease-out;
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 74%, 74%));
  box-shadow: 0px 2px 8px 5px hsl(0, 74%, 74%);
}

.icon {
  height: 22px;
}

.error-icon {
  margin-right: 1rem;
  display: none;
}

#email-error {
  display: none;
  margin: 1rem 0 0 1.5rem;
  color: var(--soft-red);
  text-transform: capitalize;
}

/* Desktop Styles */
@media only screen and (min-width: 760px) {
  
    body{
        overflow: hidden;
    }

    main {
    width: 60vw;
    display: flex;
    height: calc(100vh - 38.6px);
    align-items: center;
    justify-content:center; 
    margin-bottom: 0;
  }

  .header{
      width: 60vw;
      margin-top: 3rem;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content:center;
  }

  nav{
      width: 445px;
  }


  .hero {
    position: absolute;
    height: calc(100vh + 38.6px);
    right: 0;
    top: 0;
    width: 40vw;
    background-image: url("images/hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headline{
      width: 445px;
      text-align: left;
      margin-top: -2rem;
  }

  .title{
      font-size: 4.5rem;
      margin-bottom: 1.5rem;  
  }
  .subtitle{
      margin-bottom: 1.5rem;
  }

  form{
      margin: unset;
  }

  button{
      margin-right: -3px;
  }

}
